<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>723223558988-443648uc2cgpntb2d2co2um528801b0r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.723223558988-443648uc2cgpntb2d2co2um528801b0r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>723223558988-597u9ul57sp4q1hl4j0vb2lfjsr7cq96.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBnHdb7zF-r1F5nVrJ0eHo4yP7lTrVhtkc</string>
	<key>GCM_SENDER_ID</key>
	<string>723223558988</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shoppaholics.store</string>
	<key>PROJECT_ID</key>
	<string>shoppaholics-project</string>
	<key>STORAGE_BUCKET</key>
	<string>shoppaholics-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:723223558988:ios:4831659ae903a4592eade9</string>
</dict>
</plist>